<h1>Signers Page</h1>
{{#if city}}
    Please find below all signers from
    {{this.city}}
{{/if}}

<ul>
    {{#if displayCity}}
        {{#signers}}
            <li>
                {{#if this.showLink}}
                    <a href="{{this.url}}" target="_blank">{{this.first}}
                        {{this.last}}</a>,
                {{else}}
                    <span>{{this.first}} {{this.last}}</span>
                {{/if}}
                <span> age {{this.age}}, from</span>
                <a href="/signers/{{this.city}}">{{this.city}}</a>
            </li>
        {{/signers}}
    {{else}}
        {{#signers}}
            <li>
                {{#if this.showLink}}
                    <a href="{{this.url}}" target="_blank">{{this.first}}
                        {{this.last}}</a>
                {{else}}
                    <span>{{this.first}} {{this.last}},</span>
                {{/if}}
                <span> age {{this.age}}</span>
            </li>
        {{/signers}}
    {{/if}}
</ul>